.active {
    background-color: red;
   
}

button{
    padding: .3rem;
    border-radius: .5rem;
    margin: 25px;
    background-color: #E28080
    cursor: pointer
}

button:hover{
    cursor: pointer
}

.menu{
    display: flex;

}